.linkText{
    background: rgb(128,131,133);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3px;
    opacity: .5;
    transition: all .2s ease-in-out;
}

.link:hover .linkText{
    height: 20px;
}