/* Hamburger Menu */

.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
  }
  
  .hamburger-top,
  .hamburger-middle,
  .hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    transform: rotate(0);
    transition: all 0.5s;
    background-color: rgb(163, 163, 163);
  }
  
  .hamburger-middle {
    transform: translateY(7px);
  }
  
  .hamburger-bottom {
    transform: translateY(14px);
  }
  
  .open {
    transform: rotate(90deg);
    transform: translateY(0px);
  }
  
  .open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
  }
  
  .open .hamburger-middle {
    display: none;
  }
  
  .open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
  }

  .menu{
    /* height: 310px; */
    padding: 0;
    transition: padding .1s linear;
  }

  .arrow{
    position: absolute;
    top: 0;
    transform: translateX(-25px);
    transition: all .2s ease-in-out;
  }

  .link:hover .arrowShow {
    transform: translateX(10px);
  }
  .link:focus .arrowShow {
    transform: translateX(10px);
  }